<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="net462" developmentDependency="true" />
  <package id="Unclassified.NetRevisionTask" version="0.4.3" targetFramework="net472" developmentDependency="true" />
  <package id="ViewModelKit.Fody" version="1.2.1" targetFramework="net462" developmentDependency="true" />
</packages>